<!DOCTYPE html>
<html>
<head>
<title>Aya Al Kotamy</title>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
 <link href="css/style-home.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="images/G.png"/>
</head>

<body>
<div id="wrapper">

	<header>
<div class="container">
	<div class="logo col-md-5 col-sm-5 col-xs-8">
                <a href="/"><img src="images/Globo-Logo-white.svg" alt="logo"/></a><span class="text">NODE EXPRESS APP (AYA AL KOTAMY)</span>
	</div>
<div class="right_section col-md-5 col-xs-12">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
        <li class="nav-item">
          <a class="nav-link disabled" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="products">Products</a>
         </li>
      </ul>
  </div>
</div>

<div class="sign-in col-md-2">
     <span class="dvider"></span>
     <div class="sign">
     <a hrf="/auth/login"><img class="sign-in-img" src="images/avatar.svg" alt="sign-in">
    Login</a>
</div>

     </div>

  		</div>
  	</header>
    <section class="banner">
      <img src="images/hero image.png"/>
    <div class="inner-content col-md-12">
    <div class="container jumboContainer">
    <div class=" col-md-8 middle">
       <h1>THE FUTURE<br> <span>WAS FIVE MINUTES AGO</span>.</h1>
  
       <p>We were there and it is going to be epic</p></div>
  
       <div class="content-right col-md-4">
       <div class="text-center">
        <form name="signup" action="/auth/signUp" method="post">
          <table>
            <tr>
              <td>
UserName:
              </td>
              <td>
                <input name="username" id="username" style="color: black;"/>
              </td>
            </tr>
            <tr>
              <td>
PassWord:
              </td>
              <td>
                <input type="password" name="password" id="password" style="color: black;"/>
              </td>
            </tr>
            <tr>
              <td>
Email:
              </td>
              <td>
                <input  name="email" id="email" style="color: black;"/>
              </td>
            </tr>
          </table>
         
          <input type="submit" value="SIGN UP TODAY" class="btn btn-primary btn-lg"></input>
        </form>
  </div>
  <p>Node express app demo by Aya Al Kotamy</p>
       </div>
    </div>
       </div>
  </section>

</div><!---------- End of Wrapper ----------->



  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
jQuery(document).ready(function(){

 // alert("wow");
  //  jQuery("header").addClass("fixed");
  jQuery("#hamburger").click(function(){
		//alert("The paragraph was clicked.");
		jQuery("header").toggleClass("fixed");
	});


});

</script>

</body>
</html>
